html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*Style*/
body{
	background-image:url(backgroundstars1.png);o-repeat center center fixed; 
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
	}

/*Header*/
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  font-family: 'GlacialIndifferenceRegular',sans-serif;
  padding: 12px 16px;
  font-weight: normal;
  font-style: normal;
  color: #00028c;

}
.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown2 {
  position: relative;
  display: inline-block;
}

.dropdown-content2 {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  font-family: 'GlacialIndifferenceRegular',sans-serif;
  padding: 12px 16px;
  font-weight: normal;
  font-style: normal;
  color: #00028c;

}
.dropdown2:hover .dropdown-content2 {
  display: block;
}

/*Title*/
.header h1{
	padding-top: 10px;
	font-size: 50px;
    font-family: 'BeonRegular',sans-serif;
    font-weight: normal;
    font-style: normal;
	color: #00028c;
}

.header{
	padding-left: 100px;
	background-color: #ffe100;
	width: 100%;
	height: 100px;
	position: fixed;
	font-family: 'GlacialIndifferenceRegular', Courier, monospace;
	font-size: 21px;
}

.header ul li{
	display: inline-block;
	margin-top: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
}

.header a{
	text-decoration: none;
	color: #fc6fd2;
	padding: 5px;
}

.header a:hover{
	background-color: white;
	color : #00028c;
}

/*Container*/
.container{
	border:2px black solid;
	width:960px;
	margin:auto;
	padding:30px;
	box-sizing: border-box;
	background-color: white;
}

/*Problem begin*/
.container h1{
	font-family: 'PiazzollaSCRegular',sans serif;
  	 font-weight: normal;
   	 font-style: normal;
   	 font-size: 40px;
   	 text-align: center;
   	 color: #00028c;
}

.containerh1 p{
	font-family: 'PiazzollaSCRegular',sans serif;
  	 font-weight: normal;
   	 font-style: normal;
   	 font-size: 15px;
   	 text-align: center;
   	 color: #00028c;
}

.containerh1{
	height: 65px;
	width: 100%;
	background-color: #ffe100;
}

.containerh2{
	height: 20px;
	width: 100%;
	background-color: #ffe100;
	text-align: center;
}

/*Recommendation */
.recommendation, .recommendation2{
	font-size: 20px;
	margin: auto;
}

/*r1- r10, ri1-ri16 img*/
.r1 img, .r2 img, .r3 img, .r4 img, .r5 img, .r6 img, .r7 img, .r8 img, .r9 img, .r10 img, .r11 img, .r12 img, .r13 img, .r14 img, .r15 img, .r16 img, .r17 img, .r18 img, .r19 img, .r20 img, .r21 img, .r22 img, .r23 img, .r24 img, .r25 img, .r26 img, .r27 img, .r28 img, .r29 img, .r30 img, .r31 img, .r32 img, .r33 img, .r34 img, .r35 img, .r36 img, .r37 img, .r38 img, .r39 img, .ri1 img, .ri2 img, .ri4 img, .ri5 img, .ri6 img, .ri7 img, .ri8 img, .ri9 img, .ri10 img, .ri11 img, .ri12 img, .ri13 img, .ri14 img, .ri15 img, .ri16 img, .ri17 img, .ri18 img, .ri19 img, .ri20 img, .ri21 img, .ri22 img, .ri23 img, .ri24 img{
	height: 75px;	
	margin: auto;
	text-align: center;
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding-top: 10px;
	padding-bottom: 7px;
}	

.ri1 a, .ri2 a, .ri3 a, .ri4 a, .ri6 a, .ri7 a, .ri8 a, .ri10 a, .ri11 a, .ri14 a, .ri15, .ri16 a, .ri17 a, .ri18 a, .ri19 a, .ri20 a, .ri21 a, .ri22 a, .ri23 a, .ri24 a, .r2 a, .r3 a, .r4 a, .r5 a, .r6 a, .r7 a, .r8 a, .r9 a, .r10 a, .r12 a, .r13 a, .r14 a, .r15 a, .r16 a, .r17 a, .r18 a, .r19 a, .r20 a, .r21 a, .r22 a, .r23 a, .r24 a, .r25 a, .r26 a, .r27 a, .r28 a, .r29 a, .r30 a, .r31 a, .r32 a, .r33 a, .r34 a, .r35 a, .r36 a, .r37 a, .r38 a, .r39 a{
	text-decoration: none;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	font-family: 'GlacialIndifferenceRegular', sans-serif;
    font-weight: normal;
    font-style: normal;
}


/*r1-r5*/
.r1, .r2, .r3, .r4, .r5{
	border: 1px black solid;
	width: 120px;
	height: 120px;
	float: left;
	margin-right: 30px;
	background-color: #ffe100;
}

/*r1*/
.r1 a:hover{color:red;}

.r1 a{
	text-decoration: none;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	font-family: 'GlacialIndifferenceRegular', sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 17px;
}

/*r2*/
.r2 a:hover{color:red;}

/*r3*/
.r3 a:hover{color:red;}

/*r4*/
.r4 a:hover{color:red;}

/*r5*/
.r5 a:hover{color:red;}

/*r6*/
.r6 a{
	font-size: 17px;
	text-decoration: none;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	font-family: 'GlacialIndifferenceRegular', sans-serif;
    font-weight: normal;
    font-style: normal;
     font-size: 17px;
}

.r6 a:hover{color:red;}

.r6{
	border: 1px black solid;
	width: 120px;
	height: 120px;
	float: left;
	background-color: #ffe100;
}

/*r7*/
.r7 a:hover{color:red;}

.r7, .r8, .r9, .r10, .r11, .r13, .r14, .r15, .r16, .r17, .r19, .r20, .r21, .r22, .r23, .r25, .r26, .r27, .r28, .r29, .r31, .r32, .r33, .r34, .r35, .r37, .r38, .r39,.ri1, .ri2, .ri3, .ri4, .ri5, .ri7, .ri8, .ri9, .ri10, .ri11, .ri13, .ri14, .ri15, .ri16, .ri17, .ri19, .ri20, .ri21, .ri22, .ri23{
	border: 1px black solid;
	width: 120px;
	height: 120px;
	float: left;
	margin-right: 30px;
	margin-top: 30px;
	background-color: #ffe100;
}r

/*r8*/
.r8 a:hover{color:red;}

/*r9*/
.r9 a:hover{color:red;}

/*r10*/
.r10 a:hover{color:red;}

/*r11*/
.r11 a:hover{color:red;}
.r11 a{
	text-decoration: none;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	font-family: 'GlacialIndifferenceRegular', sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 12px;
}

/*r12*/
.r12 a:hover{color:red;}

.r12, .r18, .r24, .r30, .r36, .ri6, .ri12, .ri18, .ri24{
	border: 1px black solid;
	width: 120px;
	height: 120px;
	float: left;
	margin-top: 30px;
	background-color: #ffe100;
}

/*r13*/
.r13 a:hover{color:red;}

/*r14*/
.r14 a:hover{color:red;}

/*r15*/
.r15 a:hover{color:red;}

/*r16*/
.r16 a:hover{color:red;}

/*r17*/
.r17 a:hover{color:red;}
.r17 img{
	height: 50px;	
	margin: auto;
	text-align: center;
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding-top: 25px;
	padding-bottom: 17px;
}

/*r18*/
.r18 a:hover{color:red;}

/*r19*/
.r19 a:hover{color:red;}

/*r20*/
.r20 a:hover{color:red;}

/*r21*/
.r21 a:hover{color:red;}

/*r22*/
.r22 a:hover{color:red;}
.r22 a{
	text-decoration: none;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	font-family: 'GlacialIndifferenceRegular', sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 17px;
}

/*r23*/
.r23 a:hover{color:red;}
.r23 a{
	text-decoration: none;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	font-family: 'GlacialIndifferenceRegular', sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 17px;
}

/*r24*/
.r24 a:hover{color:red;}
.r24 a{
	text-decoration: none;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	font-family: 'GlacialIndifferenceRegular', sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 15px;
}

/*r25*/
.r25 a:hover{color:red;}
.r25 a{
	text-decoration: none;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	font-family: 'GlacialIndifferenceRegular', sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 17px;
}

/*r26*/
.r26 a:hover{color:red;}

/*r27*/
.r27 a:hover{color:red;}
.r27 a{
	text-decoration: none;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	font-family: 'GlacialIndifferenceRegular', sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 17px;
}

/*r28*/
.r28 a:hover{color:red;}

/*r29*/
.r29 a:hover{color:red;}
.r29 a{
	text-decoration: none;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	font-family: 'GlacialIndifferenceRegular', sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 17px;
}
.r29 img{
	height: 75px;	
	margin: auto;
	text-align: center;
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding-top: 7px;
	padding-bottom: 0px;
}

/*r230*/
.r30 a:hover{color:red;}

/*r231*/
.r31 a:hover{color:red;}
.r31 a{
	text-decoration: none;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	font-family: 'GlacialIndifferenceRegular', sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 15px;
}
.r31 img{
	height: 75px;	
	margin: auto;
	text-align: center;
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding-top: 7px;
	padding-bottom: 1px;
}


/*r32*/
.r32 a:hover{color:red;}
.r32 a{
	text-decoration: none;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	font-family: 'GlacialIndifferenceRegular', sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 14px;
}

/*r33*/
.r33 a:hover{color:red;}
.r33 a{
	text-decoration: none;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	font-family: 'GlacialIndifferenceRegular', sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 15px;
}
.r33 img{
	height: 75px;	
	margin: auto;
	text-align: center;
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding-top: 7px;
	padding-bottom: 0px;
}


/*r34*/
.r34 a:hover{color:red;}
.r34 a{
	text-decoration: none;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	font-family: 'GlacialIndifferenceRegular', sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 17px;
}

/*r35*/
.r35 a:hover{color:red;}
.r35 img{
	height: 50px;	
	margin: auto;
	text-align: center;
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding-top: 30px;
	padding-bottom: 10px;
}


/*r36*/
.r36 a:hover{color:red;}
.r36 a{
	text-decoration: none;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	font-family: 'GlacialIndifferenceRegular', sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 17px;
}
.r36 img{
	height: 75px;	
	margin: auto;
	text-align: center;
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding-top: 7px;
	padding-bottom: 1px;
}

/*r37*/
.r37 a:hover{color:red;}
.r37 a{
	text-decoration: none;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	font-family: 'GlacialIndifferenceRegular', sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 17px;
}
.r37 img{
	height: 75px;	
	margin: auto;
	text-align: center;
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding-top: 7px;
	padding-bottom: 1px;
}

/*r38*/
.r38 a:hover{color:red;}
.r38 a{
	text-decoration: none;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	font-family: 'GlacialIndifferenceRegular', sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 17px;
}

/*r39*/
.r39 a:hover{color:red;}

/* recommendation2 ind */

.recommendation2 h2{
	height: 50px;
	font-size: 30px;
	width: 100%;
	background-color: #ffe100;
	font-family: 'PiazzollaSCRegular',sans serif;
  	 font-weight: normal;
   	 font-style: normal;
   	 text-align: center;
   	 color: #00028c;
   	 margin-top: 40px;
   	 padding-top: 10px;
}

/*ri1*/
.ri1 a:hover{color: red;}

/*ri2*/
.ri2 a:hover{color:red;}

/*ri3*/
.ri3 a:hover{color:red;}
.ri3 img{
	height: 45px;	
	margin: auto;
	text-align: center;
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding-top: 30px;
	padding-bottom: 17px;
}	


/*ri4*/
.ri4 a:hover{color:red;}

/*ri5*/
.ri5 a:hover{color:red;}

.ri5 a{
	text-decoration: none;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	font-family: 'GlacialIndifferenceRegular', sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 17px;
}
.ri5 img{
	height: 45px;	
	margin: auto;
	text-align: center;
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding-top: 30px;
	padding-bottom: 17px;
}


/*ri6*/
.ri6 a:hover{color:red;}

/*ri7*/
.ri7 a:hover{color:red;}

/*ri8*/
.ri8 a:hover{color:red;}

/*ri9*/
.ri9 a:hover{color:red;}
.ri9 a{
	text-decoration: none;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	font-family: 'GlacialIndifferenceRegular', sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 16px;
}

/*ri10*/
.ri10 a:hover{color:red;}

/*ri11*/
.ri11 a:hover{color:red;}

/*ri12*/
.ri12 a:hover{color:red;}

.ri12 a{
	text-decoration: none;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	font-family: 'GlacialIndifferenceRegular', sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 15px;
}

/*ri13*/
.ri13 a:hover{color:red;}

.ri13 a{
	text-decoration: none;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	font-family: 'GlacialIndifferenceRegular', sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 17px;
}

/*ri14*/
.ri14 a:hover{color:red;}
.ri14 a{
	text-decoration: none;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	font-family: 'GlacialIndifferenceRegular', sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 17px;
}

/*ri15*/
.ri15 a:hover{color:red;}

.ri15 a{
	text-decoration: none;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	font-family: 'GlacialIndifferenceRegular', sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 17px;
}

/*ri16*/
.ri16 a:hover{color:red;}
.ri16 a{
	text-decoration: none;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	font-family: 'GlacialIndifferenceRegular', sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 18px;
}

/*ri17*/
.ri17 a:hover{color:red;}
.ri17 a{
	text-decoration: none;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	font-family: 'GlacialIndifferenceRegular', sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 19px;
}

/*ri18*/
.ri18 a:hover{color:red;}

/*ri19*/
.ri19 a:hover{color:red;}
.ri19 a{
	text-decoration: none;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	font-family: 'GlacialIndifferenceRegular', sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 11px;
}

.ri19 img{
	height: 75px;	
	margin: auto;
	text-align: center;
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding-top: 10px;
	padding-bottom: 0px;
}


/*ri20*/
.ri20 a:hover{color:red;}

.ri20 a{
	text-decoration: none;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	font-family: 'GlacialIndifferenceRegular', sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 18px;
}


/*r21*/
.ri21 a:hover{color:red;}
.ri21 a{
	text-decoration: none;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	font-family: 'GlacialIndifferenceRegular', sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 18px;
}

/*r22*/
.ri22 a:hover{color:red;}

/*r23*/
.ri23 a:hover{color:red;}

/*ri24*/
.ri24 a:hover{color:red;}
















/*Clear*/
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

.cf {
    *zoom: 1;
}